html, body {
    height: 100%;
}

body {
    display: flex;
}

#roadmap {
    background: yellow;
    width: 14%;

    ul {
        margin: 0;
    }
}
    #progress {
        background-color: cyan;
    }

#main {
    position: relative;
    width: 55%;
}

#console {
    background: green;
    width: 28%;
}

.col {
    float: left;
    height: 100%;
    padding:0 10px;
}

.col > div, .col > ul {
    margin: 10px auto;
}

#camera {
    background: red;
    height: 300px;
    width: 300px;
}

#console-output{
    background: orange;
    height: 500px;
    overflow-y: auto;
}

#instructor {
    height: 40%;

    h2, p {
        margin: 0;
        height: 9%;
    }
}
    #instructor-slides{
         height: 90%;
         padding: 3px 8px;
         border: 2px dotted #ccc;
    }
    .lesson {
        display: none;
        font-size: 107%;
        line-height: 130%; 
    }

    .code {
        padding: 5px;
        font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
        margin-bottom: 10px;
        background-color: #eee;
        overflow: auto;
        max-height: 600px;
    }

#editor {
    background-color: black;
    color: lime;
    height: 55%;
    width: 99.5%;
}

#run {
    bottom: 0px;
    position: absolute;
    right: 10px;
}


/* jquery ui overrides*/
.ui-accordion .ui-accordion-content {
    padding: 10px 0;
}