html, body {
    height: 100%;
}

body {
    display: flex;
}

#roadmap {
    background: yellow;
    width: 14%;
}
    #progress {
        background-color: cyan;
    }

#main {
    background: purple;
    position: relative;
    width: 55%;
}

#console {
    background: green;
    width: 28%;
}

.col {
    float: left;
    height: 100%;
    padding:0 10px;
}

.col > div, .col > ul {
    margin: 10px auto;
}

#camera {
    background: red;
    height: 300px;
    width: 300px;
}

#console-output{
    background: orange;
    height: 500px;
    overflow-y: auto;
}

#instructor {
    background: blue;
    height: 40%;
}

#editor {
    background-color: black;
    color: lime;
    height: 55%;
    width: 99.5%;
}

#run {
    bottom: 0px;
    position: absolute;
    right: 10px;
}